extends ../layouts/layout

block content
  p#notice

  each n in ['location.name','location.coordinates']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/locations/#{ location._id}/edit') Edit
  span |
  a(href='/locations') Back